<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>unbiased-test</title>
  <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="b-layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="b-top">
          <h1 class="b-top-title">Adviser registration</h1>
          <div class="b-top-subtitle">Please follow this wizard and&nbsp;you will be&nbsp;ready in&nbsp;2 minutes.</div>
          <img src="./images/illustration.jpg" alt="illustration" class="b-top-illustration">
        </section>
      </div>
    </div>
  </div>

  <form class="b-form">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="b-topic">
            <span class="b-topic-inner">Choose your plan</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <section class="b-cards">
            <input type="radio" class="b-card-radio" id="form_plan_1" name="form_plan" value="basic">
            <label class="b-card" for="form_plan_1">
              <div class="b-card-title">Basic</div>
              <div class="b-card-subtitle">Introductory listing</div>
              <ul class="b-card-features">
                <li>Appear in&nbsp;our search results</li>
                <li>Indexed by&nbsp;major search engines</li>
                <li>No&nbsp;active enquiry generation</li>
              </ul>
              <div class="b-card-price">Free</div>
              <div class="b-card-price-note">No active enquiry generation</div>
              <div class="b-card-row">
                <span class="b-button">Choose Basic plan</span>
                <span class="b-card-selected">Plan selected</span>
              </div>
            </label>
            <input type="radio" class="b-card-radio" id="form_plan_2" name="form_plan" value="lite" checked>
            <label class="b-card" for="form_plan_2">
              <div class="b-card-title">Lite</div>
              <div class="b-card-subtitle">Introductory listing</div>
              <ul class="b-card-features">
                <li>Appear in&nbsp;our search results</li>
                <li>Indexed by&nbsp;major search engines</li>
                <li>See profile performance statistics</li>
                <li>Clients can email you</li>
                <li>Accept only the&nbsp;enquiries you want</li>
              </ul>
              <div class="b-card-price">£&nbsp;29/month</div>
              <div class="b-card-price-note">Plus £&nbsp;30 for&nbsp;each enquiry</div>
              <div class="b-card-row">
                <span class="b-button">Choose Lite plan</span>
                <span class="b-card-selected">Plan selected</span>
              </div>
            </label>
            <input type="radio" class="b-card-radio" id="form_plan_3" name="form_plan" value="plus">
            <label class="b-card" for="form_plan_3">
              <div class="b-card-title">Plus</div>
              <div class="b-card-subtitle">Introductory listing</div>
              <ul class="b-card-features">
                <li>All the&nbsp;benefits of&nbsp;Lite included</li>
                <li>Full contact details</li>
                <li>Manage all calls with&nbsp;Call Analytics</li>
                <li>Exclusive media opportunities through the&nbsp;Bluebook</li>
                <li>Your first enquiry each month is&nbsp;free</li>
              </ul>
              <div class="b-card-price">£&nbsp;59/month</div>
              <div class="b-card-price-note">Plus £&nbsp;30 for&nbsp;each enquiry</div>
              <div class="b-card-row">
                <span class="b-button b-button_primary">Choose Plus plan</span>
                <span class="b-card-selected">Plan selected</span>
              </div>
            </label>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="b-topic">
            <span class="b-topic-inner">Your profile details</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" id="form_iufhrf34" value="">
            <label class="b-form-group-label" for="form_iufhrf34">
              Company name
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" id="form_03fj3eff" value="">
            <label class="b-form-group-label" for="form_03fj3eff">
              Company FCA number
            </label>
            <span class="b-form-group-help" data-toggle="tooltip" data-placement="top"
                  title="The FCA regulates and&nbsp;supervises the&nbsp;conduct of&nbsp;more than&nbsp;50,000 firms
              in&nbsp;the UK that&nbsp;provide financial products and&nbsp;services to&nbsp;both UK
              and&nbsp;international customers."></span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="b-form-group">
            <select class="js-form-select" id="form_39847hff34r" multiple="true">
              <option value="Socially responsible investments">Socially responsible investments</option>
              <option value="Traded endowment policies">Traded endowment policies</option>
              <option value="Investment trusts">Investment trusts</option>
              <option value="Pensions & retirement planning">Pensions & retirement planning</option>
              <option value="Pension consolidation">Pension consolidation</option>
              <option value="Auto enrolment">Auto enrolment</option>
            </select>
            <label class="b-form-group-label" for="form_39847hff34r">
              Advice arias
            </label>
            <span class="b-form-group-help" data-toggle="tooltip" data-placement="top" title="Hello!"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="b-topic">
            <span class="b-topic-inner">Contact person</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="b-centered">
            <label class="b-form-checkbox lead">
              <input id="form_fg34679fg1" type="checkbox" value="1" class="js-check-name" checked>
              <span class="b-form-">Same as&nbsp;adviser above</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" name="first-name" id="form_poejrf42f" value="">
            <label class="b-form-group-label" for="form_poejrf42f">
              First name
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" name="last-name" id="form_9e87rfh2" value="">
            <label class="b-form-group-label" for="form_9e87rfh2">
              Last name
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" id="form_0we9f423" type="email"
                   placeholder="placeholder@gmail.com" value="">
            <label class="b-form-group-label" for="form_0we9f423">
              Contact email
            </label>
            <span class="b-form-group-help" data-toggle="tooltip" data-placement="top" title="Hello!"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3 class="b-topic">
            <span class="b-topic-inner">Your password</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" type="password" id="form_password" value="">
            <label class="b-form-group-label" for="form_password">
              Password
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="b-form-group">
            <input class="b-form-group-control js-form-input" type="password" id="form_password_confirm" value="">
            <label class="b-form-group-label" for="form_password_confirm">
              Confirm password
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="b-form-group">
            <label class="b-form-checkbox">
              <input id="form_87egrhf4" type="checkbox" value="1">
              <span class="b-form-">Tick if&nbsp;you want to&nbsp;get tips on&nbsp;how to&nbsp;improve your profile visibility and&nbsp;some real statistics</span>
            </label>
            <label class="b-form-checkbox">
              <input id="form_340r9jf3" type="checkbox" value="1">
              <span class="b-form-">Tick if&nbsp;you want to&nbsp;get someting even more useful</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="b-button b-button_primary b-button_large b-button_large_margin center-block">
            Complete signup and&nbsp;proceed to&nbsp;payment
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          By&nbsp;clicking "Complete signup and&nbsp;proceed to&nbsp;payment" I agree to&nbsp;<a href="#">Unbiased's
          Terms of&nbsp;Service</a>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
</html>